<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>See here what movies you added</title>
<style type="text/css">
  body{
  background-color:#DCDCDC;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 99vh;
}
#cnt{
  padding:100px;
  border: 3px double red;
  text-align: center;
  background-color:	#48D1CC;
}

  h1{
    color: White;
    font-family: serif;
    font-size: 40px;
    border: 4px;
    padding: 50px;
    background-color:red;
  }
  #btn:hover {
	background-color: #9370db;
	width:80px;
	height: 30px;
}
</style>
<script>
        window.onload = function() {
            alert("Movie Added Successfully");
        };
    </script>
</head>
<body>
<div id="cnt">
  <h1>Mavie added Successfully</h1>
  <a href="map-admin"><input id="btn" type="submit" value="AdminHome"></a>
  </div>
</body>
</html>